.block {
    text-align: center;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    padding-top: 160px;

    &--padded {
        @media (min-width: 700px) {
            padding-left: 25%;
            padding-right: 25%;
        }
    }
}

.page-section {
    margin-top: 48px;
}
