<section class="banner">
    <div class="banner__container">
        <div class="banner__main">
            <div class="banner-grid">
                <div class="banner-grid__side">
                    <img src="{{CDN_STATIC_URL}}svg/soldier.svg" alt="logo" class="svg-solider" />
                </div>
                <div class="banner-grid__main">
                    <img src="{{CDN_STATIC_URL}}svg/logo2.svg" alt="logo" class="banner-grid__logo" />

                </div>
                <div class="banner-grid__side">
                    <img src="{{CDN_STATIC_URL}}svg/soldier.svg" alt="logo" class="svg-solider" />
                </div>
            </div>
        </div>
        <p class="banner__sub">Chif Challenges you to Walk a Marathon with him to Windsor Castle...</p>
        <div class="banner__ft">
            <a href="http://newlifecharity.co.uk/" class="">
                <img src="{{ CDN_STATIC_URL }}svg/newlife.svg" class="banner__newlife" alt="NewLife logo" />
            </a>
            <a href="#take-the-challenge" class="banner__cirle" data-js-click-scroll="#take-the-challenge">
                <img src="{{ CDN_STATIC_URL }}svg/circle.svg" />
            </a>
        </div>
    </div>
</section>
