<form action="{% url 'home:register' %}" method="POST" novalidate>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Name</label>
        {{ registration_form.name }}
        {{ registration_form.name.errors }}
    </div>
    <div class="form-group">
        <label for="id_email">Email</label>
        {{ registration_form.email }}
        {{ registration_form.email.errors }}
    </div>
    <div class="form-group">
        <label for="id_email">Size</label>
        {{ registration_form.tshirt_size }}
        <p class="form-help">We need your t-shirt size for your free Chif's Challenge t-shirt.</p>
    </div>
    <div class="form-group">
        <label for="id_email">Gender</label>
        {{ registration_form.gender }}
        <p class="form-help">We need to know your gender for your free Chif's Challenge t-shirt.</p>
    </div>
    <div class="g-recaptcha" data-sitekey="6LdWPUQUAAAAABR14elgpmEvd-YUDU-RdSRJ5D9Q"></div>
    <button type="submit" class="btn">Click here to take the challenge!</button>
</form>
