@import 'base/reset';

@import 'abstract/variables';
@import 'abstract/mixins/breakpoint';
@import 'abstract/mixins/screen-reader';
@import 'abstract/mixins/typography';
@import 'abstract/mixins/utils';

@import 'base/font-face';
@import 'base/forms';
@import 'base/typography';
@import 'base/utils';
@import 'base/utilities/img';
@import 'base/utilities/screen-reader';
@import 'base/utilities/spacing';


@import 'components/avatar';
@import 'components/banner';
@import 'components/banner-grid';
@import 'components/header';
@import 'components/footer';
@import 'components/blocks';
@import 'components/grids';
@import 'components/lists';
@import 'components/nav';
@import 'components/sponsor';
@import 'components/fig';
@import 'components/recaptcha';

@import 'templates/page';

// @import 'templates/holding-page';

html, body {
	height: 100%;
}

body {
    background-color: #bd1a1a;
}




.container {
    margin: 0 auto;
    max-width: 100%;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    width: 1140px;
}

.row {

}

.column {

}
