<footer class="g-footer">
    <ul class="list-bullet">
        <li class="list-bullet__item">Email us <a href="mailto:hello@chifschallenge.co.uk">hello@chifschallenge.co.uk</a></li>
        <li class="list-bullet__item">Sign up from January 2018</li>
    </ul>
    <div class="g-footer__social">
        {% include './social.html' %}
    </div>
    <div class="g-footer__copy">
        <p>Newlife the Charity for Disabled Children - Registered Charity Number: 1170125 in England &amp; Wales</p>
    </div>
</footer>

