<header class="header">
    <div class="header__main">
        <button class="menu-btn" data-js-toggle-menu>
            <img src="{{ CDN_STATIC_URL }}svg/menu-open.svg" class="menu-btn__img" />
        </button>
        <div class="header__logo">
            <a href="{% url 'home:home' %}" class="logo">
                <img src="{{ CDN_STATIC_URL }}svg/logo-sml.svg" class="logo__img" />
            </a>
        </div>
        <nav class="nav">
            <button class="nav__btn" data-js-toggle-menu>
                <img src="/static/svg/menu-close.svg" class="menu-btn__img" />
            </button>
            <ul class="list-nav list-nav--right">
                <li class="list-nav__item">
                    <a href="{% url 'home:content' slug='about-chif' %}" class="list-nav__item-link list-nav__item-link--hilight">About Chif</a>
                </li>
                <li class="list-nav__item">
                    <a href="{% url 'home:content' slug='sponsorship' %}" class="list-nav__item-link list-nav__item-link--hilight">Sponsorship</a>
                </li>
                {% comment %}
                <li class="list-nav__item"><a href="#about-chif" class="list-nav__item-link">Our Route</a></li>
                {% endcomment %}
                <li class="list-nav__item"><a href="#form-registration" class="list-nav__item-link">Sign Up</a></li>
            </ul>
        </nav>
    </div>
    <div class="sponsor">
        <a href="https://www.justgiving.com/fundraising/chifschallenge" class="sponsor__link">
            <span class="sponsor__text">Our fundraising page on:</span>
            <img src="{{ CDN_STATIC_URL }}svg/justgiving.svg" class="sponsor__logo" />
        </a>
    </div>
</header>
