{% extends 'layout/main.html' %}

{% block body %}
<div class="container">
    <section class="block block--padding">
        <h1>About Chif</h1>
        <p class="text-lead">We would like to introduce you to Chi Fung Tang. (Chif)</p>
        <p>Chif is an enthusiastic and kind hearted person who loves his family and friends, adores
    Wycombe Wanderers, is passionate about the royal family and has a heart of gold.</p>
        <p>He lives in Holmer Green and volunteers at three different workplaces every week, including
    the Chiltern Food Bank, Work Aid in Chesham, Chiltern Wood recycling and also helps at his
    local Church for their Pop-in lunches.</p>
        <p>Chif has been the official 'Team Helper' on five endurance challenges that our group of
    friends took on over 8 years. These challenges raised over &pound;120,000 for Newlife, the charity
    for disabled children.</p>
        <p>On Chif's 38th birthday, he was asked what he wanted to achieve this year? He responded
    with 'I would like to complete a challenge for Newlife'.</p>
        <p>And so, "Chif's Challenge" was born. On Saturday June 9th 2018, Chif will be walking 26.2 miles
    from his front door in Holmer Green to Windsor Castle, to raise money for Newlife.</p>
        <p>Chif invites you to take on his marathon too. If you want to challenge yourself to a marathon
    walk and join Chif in raising even more money, you can sign up from January 2018. There will
    be a shorter challenge for those who would like to participate on the walk into Windsor. </p>
        <p>If you can’t take on your own challenge, Chif would be most grateful if you would show your
    support by sponsoring him. Every penny raised will go directly towards local families, children
    and babies supported by Newlife. You will be able to sponsor Chif from January 2018.</p>
        <p>Chif has special needs and severe learning difficulties. To us, he is just a very special
    individual and part of our "gang".</p>
    </section>
</div>
{% endblock %}
