{% extends 'layout/main.html' %}
{% load static %}

{% block title %} | Save the Date {% endblock %}
{% block dataPage %}home{% endblock %}

{% block headScript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    {% include './partials/jumbo-banner.html' %}
    <div class="container">
        <div class="block">
            <h2 class="block-heading">About Chif's Challenge</h2>
            <p>
                Join Chif on his marathon walk through the beautiful, rural country side of Bucks and Berks and raise money for <a href="http://newlifecharity.co.uk/">NewLife</a>!
            </p>
            <p>
                In the spirit of Chif and the challenge there will be no entrance fee. All we ask is you ask your loved ones, work colleagues, bosses and anyone you know to kindly support you on your MARATHON walk! All money raised will go directly to families and children supported by NEWLIFE. Everyone who takes part will receive a 'Chifs Challenge' T-shirt and a medal!
            </p>
            <p>To register, please fill in the details below. We'll then provide you with your information pack.</p>
        </div>
        <section class="block block--padded">
            <h2 class="block-heading"{% if invalid %} data-js-scroll-to{% endif %}>Sign Up</h2>
            {% include './partials/registration_form.html' %}
        </section>
    </div>
{% endblock %}
