{% extends 'layout/main.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block dataPage %}home{% endblock %}

{% block headScript %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
    {% include './partials/jumbo-banner.html' %}
    <div class="container">
        <div class="block">
            {{ page.body|safe }}
        </div>
        <section class="block block--padded" id="take-the-challenge">
            <h2 id="form-registration" class="block-heading"{% if invalid %} data-js-scroll-to{% endif %}>Take the Challenge</h2>
            {% include './partials/registration_form.html' %}
        </section>
    </div>
{% endblock %}
