thanks for your support!



...
Thank you for registering for ‘Chifs  Challenge’ !

The Chifs Challenge team want this to be a fun and successful experience for everyone.

We have a 5 point system we recommend you follow :

Follow us on social media ……….and keep an eye on what's going on
Get out for a walk! 26 miles is a fantastic distance to walk! You can follow our training recommendations here ………..
There is NO fee to enter Chifs Challenge. We hope you will either set up a just giving page (click here for instructions) so your very generous friends,family and colleagues can sponsor you or the easiest way is to  sponsor Chif directly (www.just giving.com……) . All money raised goes directly to babies and young children who needed specialist funding in our local area. To find out more about Newlife, the charity for disabled children click here.
Turn Up! On Saturday 9th June registration opens at 7:30am until 8:30am at the common, Holmer Green (postcode). You will receive route information and anything else needed at this point.
5.   Enjoy! Join Chif and the team as we raise money for a Fantastic cause, be part of a phenomenal  challenge and something truly special!


If you have any questions at all, please email cc@hotmail………?
