{% extends 'layout/main.html' %}
{% load static %}

{% block title %} | Save the Date {% endblock %}
{% block dataPage %}home{% endblock %}

{% block body %}
    <div class="container">
        <div class="t-welcome">
            <div class="t-welcome__header">
                <h1>Thank you for registering for Chifs Challenge!</h1>
                <p>The Chifs Challenge team want this to be a fun and successful experience for everyone.</p>
            </div>
            <div class="t-welcome__main">
                <h2>We have a 5 steps we recommend you follow</h2>

                <ul class="list">
                    <li class="list__item">1. Follow us on <a href="#footer">social media</a> and keep an eye on what's going on</li>
                    <li class="list__item">2. Get out for a walk! 26 miles is a fantastic distance to walk! You can follow our training recommendations here ………..</li>
                    <li class="list__item">3. There is NO fee to enter Chifs Challenge. We hope you will either set up a just giving page (click here for instructions) so your very generous friends,family and colleagues can sponsor you or the easiest way is to  sponsor Chif directly (www.just giving.com……) . All money raised goes directly to babies and young children who needed specialist funding in our local area. <a href="http://newlifecharity.co.uk/">To find out more about Newlife, the charity for disabled children click here</a>.</li>
                    <li class="list__item">4. Turn Up! On Saturday 9th June registration opens at 7:30am until 8:30am at the common, Holmer Green (postcode). You will receive route information and anything else needed at this point.</li>
                    <li class="list__item">5. Enjoy! Join Chif and the team as we raise money for a Fantastic cause, be part of a phenomenal  challenge and something truly special!</li>
                </ul>
            </div>
            <div class="t-welcome__footer">
                <p>If you have any questions at all, please email <a href="mailto:chifschallenge@hotmail.co.uk" class="">chifschallenge@hotmail.co.uk</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
