
input[type="text"],
input[type="email"],
select {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    line-height: 50px;
    padding: 0 12px;
    width: 100%;
}

label {
    @extend %text-body;
    display: block;
    margin-bottom: 6px;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

.form-help {
    @include font-size(1.6);
    font-style: italic;
}

.btn {
    @include font-size(2);
    background: #000;
    color: #fff;
    font-family: inherit;
    height: 50px;
    line-height: 50px;
    padding: 0 $grid-gutter;
    width: 100%;
}
